.form
	display block

.form__fieldset
	border none
	margin-bottom 70px

	&:last-child
		margin-bottom 0

.form__fieldset--lower-margin
	margin-bottom 60px

.form__fieldset--lowest-margin
	margin-bottom 32px

.form__label
	margin-bottom 20px

	&:last-child
		margin-bottom 0

.form__title
	margin-bottom 12px

	color $main-color
	letter-spacing 0.9px

.form__text
	margin-bottom 18px

	font-family $PtSans
	font-size 15px
	line-height 23px
	font-weight 400
	color $gray-dark

.form__checkboxes
	columns 240px
	column-gap 18px

.form__checkbox
	padding-top  10px
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;

.form__radio-btns
	display flex

.form__radio-button
	margin-right 15px

.form__input
	margin-bottom 20px

	&:last-child
		margin-bottom 0

.form__slider
	margin-top 34px

