.field-range
	.field-range__track-container
		button(type="button").field-range__track-btn
		ul.field-range__values
			li.field-range__value Слайд 1
			li.field-range__value Слайд 2
			li.field-range__value Слайд 3
			li.field-range__value Слайд 4

